.section4 {
  padding: 100px 0px;
  .section4-leftside {
    h1 {
      width: 570px;
      height: 154px;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
    p {
      width: 570px;
      font-size: 18px;
      margin: 15px 0px 30px 0px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .section4 {
    .section4-rightside {
      .section4-top-cards {
        flex-direction: column;
        gap: 10px;
      }
    }
    .section4-leftside {
      height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      p,
      h1 {
        line-height: 140%;
        width: unset;
      }
      p {
        margin-top: 60px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .section4 {
    padding: 0px;
    .section4-rightside {
      padding: 50px 0px;
      .section4-top-cards {
        flex-direction: column;
        gap: 10px;
        .setion4-creditcard {
          display: none;
        }
      }
      .payment-card {
        margin: 40px auto;
      }
    }
    .section4-leftside {
      height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      p,
      h1 {
        width: 600px;
        line-height: normal;
        margin: 0px auto 30px auto !important;
      }
      p {
        margin-top: 60px;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .section4 {
    .section4-leftside {
      p {
        font-size: 14px;
        width: 100%;
      }
      h1 {
        font-size: 38px;
        width: 100%;
        margin-bottom: 10px !important;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .section4 .section4-leftside p {
    font-size: 14px;
    margin: 40px 0px !important;
    width: 100%;
  }
}
