.section3-paypal {
  padding: 20px 30px;
  width: 247px;
  height: 236px;
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  border-radius: 10px;
  margin: auto;
  transform: translateY(50px);
  z-index: 1;
  position: relative;
}
.paypal-header {
  display: flex;
  justify-content: center;
  .paypal-image {
    margin-right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-20px);
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
  }
}
.paypal-middle {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 25px;
  }
  div:nth-child(1) {
    p {
      font-size: 12px;
      line-height: 0%;
      letter-spacing: 0.01em;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .change-button {
    width: 85.87px;
    height: 40px;
    border: 1px solid #6ce3e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    p {
      margin-bottom: 0;
      font-size: 12px;
      color: #6ce3e8;
    }
  }
}
.payment-button {
  width: 100%;
  height: 33px;
  font-size: 12px;
  margin: 20px 0px;
}
.section3-transaction {
  position: relative;
  z-index: 0;
  width: 335px;
  height: 300px;
  background: linear-gradient(113.08deg, #ffffff -242.51%, #14101d 85.56%);
  box-shadow: inset -0.243217px -0.243217px 0.364826px rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(15.2011px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 9.12064px;
  padding: 26px 20px;
  h2 {
    font-size: 22px;
    margin-bottom: 34px;
  }

  .section3-transaction-middle {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    .grey-p {
      color: red;
      font-size: 12px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.7);
    }
    .normalsize-h1 {
      font-size: 16px;
      margin-bottom: 0px;
    }
    .transaction-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Netflix {
      background: rgba(253, 253, 254, 1);
    }
    .Cash {
      background: rgba(223, 255, 240, 1);
    }
  }
  .transaction-rightside {
    display: flex;
    margin-top: 10px;
    img {
      height: 12px;
      width: 13px;
      transform: translateY(5px) translateX(-5px);
    }
  }
  .transaction-leftside {
    display: flex;
    gap: 20px;
  }
}
.section3-success {
  margin: auto;
  display: flex;
  width: 344px;
  height: 54px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(40, 48, 63, 0.25);
  border-radius: 10px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  transform: translateY(-20px);
  z-index: 1;
  p {
    color: black;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  .succes-icon {
    background: #00ae1c;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    svg {
      font-size: 12px;
    }
  }
}
